body {
    background: rgba(243, 234, 151, 0.911);
    color: rgb(8, 12, 9);
    text-align: left;
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cuerpo {
    margin: 1px;
    border: 1px solid rgb(168, 14, 14);
    width: 300px;
    padding: 2%;
}
.datos {
    background: rgb(218, 124, 124);
    border: none;
    width: 200px;
    margin: 2px;
}
#email{
    position: relative;
    left: 18px;
}

#apellido {
    position: relative;
    left: 1px;
}
#pais{
    width: 100px;
    border: none;
    background: rgb(218, 124, 124);
    position: relative;
    left: 36px;
}
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px hotpink;
  }

#boton{
    background: rgb(187, 42, 42);
    position: absolute;
    margin: 1px;
    border: none;
    color: seashell;
}